[Unit]
Description=Run auto-commit every 5 minutes
Requires=autocommit.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
